html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color" content="#000000")
    link(rel="manifest" href="manifest.json")
    link(rel="shortcut icon" href="favicon.ico")
    title= 'Qraft'
  body
    div(id='root')
      p Loading...
    script window.__PRELOADED_STATE__ = {global: {currentUser: !{user}}}
    script(src='bundle.js')